@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #272727;
    --second-color: #D4AA7D;
    --third-color: #EFD09E;
    --font-family: 'Roboto', sans-serif;


}

header {
    height: 100vh;
    background-image: url("images/image-nav.jpg");
    background-size: cover;
    background-position: top;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #272727;
    font-family: var(--font-family)
}

.logo {
    height: 10rem;
    width: 10rem;
    justify-self: flex-start;

}

/* .nav-menu {
    margin-left: 50%;
    display: none;
}  ( -- Remettre dans les mediaqueries --) 

/* ul li {
    display: inline-block;

} */

ul li {
    list-style: none;
    padding: 1.7rem 0;
}

ul li a {
    text-decoration: none;
    margin: 2rem;
    color: var(--first-color);
    font-weight: bold;
    letter-spacing: 10px;

}

.hamburger {

    cursor: pointer;
}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 5px 40px;
    transition: all 0.5s ease;
    background-color: var(--first-color);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger {
    display: block;
}

.nav-menu {
    position: fixed;
    left: 100%;
    top: 10.2rem;
    height: 30%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgb(212, 170, 125, 0.65);
    transition: 0.3s;

}

.nav-menu.active {
    left: 0;
}